





body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
   
  }
  
.dark-mode {
    background-color: black;
    color: white;
  }



  

.main{
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    
}




.logo img{
    margin-top: 15px;
    width: 20%;
    position: center;
    border-radius: 50%;
}

.mySlides{
        margin-top: 15px;
        width: 20%;
        position: center;
        border-radius: 50%;
    
}

.ml-3 text-gray-500{
padding: 0%;
}

.skills{
    font-size: .8em;
    margin: .2em 0 .6em;
    display: inline-block;
    font-style: italic;
    padding: 3px 7px;
    background: #FAF46A;
    color: #345;
    color: rgba(0,0,0,.7);
    border-radius: 4px;
    line-height: 1;
}







