*{
    margin: 0;
    padding: 0;
    font-family: monospace;

}



.main{
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right , #9c27b0, #8ecdff);
}


.nav-links{
    position: relative;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 20%;
    position: center;
}

.mySlides{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


